<div class='todo-List'>
	<div id='{{list.id}}' class='todo-list-ID'>
		<div class='todo-list-top'>
			{{list.name}}
		</div>
		<div class='todo-list-bottom'>
			<div class='todo-lists'>
				{{#each list.items as |item|}} {{todo-item item=item selectItem='selectItem'}} {{/each}}
			</div>

			{{add-item newItem=newItem addItem='addItem' listId=list.id}}

		</div>
	</div>
</div>